<!DOCTYPE html>
<html>
<head>
  <title>Healthify</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">  
  <style>
    form{
      text-align:center;
      
   
    }
   body{
      background-color:Tomato;
     font-style:italic;
     font-size:20px
        
    }
    #button{
     background-color:#ed940e
    }
    input{
      background-color:#727571;
      border-color:black
        
    }
   
    select{
      background-color:#727571;
      border-width:2px;
      border-radius:3px;
      border-color:black
    }
    input::placeholder{
      color:white
    }
    h1{
      text-align:center
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://tse3.mm.bing.net/th?id=OIP.u_DfQjq0l0Q5Mhx4fx754AAAAA&pid=Api&P=0&w=300&h=300" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Healthify
    </a>
  </div>
</nav>
    <br>
    <h1>Heart failure prediction</h1>
    <br>
    
 
    
    <strong>
<form action="{{url_for('predict')}}" method="post">
  
 

  <div class="mb-3">
    <label for="age" class="col-sm-2 col-form-label">Age</label>
    <input  type="text" name="age" placeholder="enter your age" required="required">
    
  </div>
   <div class="mb-3">
     <label for="anaemia" class="col-sm-2 col-form-label">Do you have anaemia?</label>
    <select style="color:white" name="anaemia" class="form-select" required aria-label="select example" >
      
      <option value="yes">-----------yes-----------</option>
      <option value="no">-----------no-----------</option>
      
    </select>
    
  </div>
   <div class="mb-3">
     <label for="diabetes" class="col-sm-2 col-form-label">Do you have diabetes?</label>
    <select style="color:white" name="diabetes" class="form-select" required aria-label="select example">
      
      <option value="yes">-----------yes-----------</option>
      <option value="no">-----------no-----------</option>
    </select>
    
  </div>

  <div class="mb-3">
     <label for="diabetes" class="col-sm-2 col-form-label">Do you have High blood pressure?</label>
    <select style="color:white" name="high_blood_pressure" class="form-select" required aria-label="select example">
      
     <option value="yes">-----------yes-----------</option>
      <option value="no">-----------no-----------</option>
      
    </select>
    
  </div>
  
  <div class="mb-3">
    <label for="platelets" class="col-sm-2 col-form-label">Blood platelets count</label>
    <input type="text" name="platelets" placeholder="enter platelets count" required="required">
    
  </div>
  <div class="mb-3">
    <label for="age" class="col-sm-2 col-form-label">serum creatinine level</label>
    <input type="text" name="serum_creatinine" placeholder="enter creatinine level" required="required">
    
  </div>
    <div class="mb-3">
     <label for="gender" class="col-sm-2 col-form-label">Gender</label>
    <select style="color:white" name="sex" class="form-select" required aria-label="select example" required="require">
      
      <option value="male">----------male----------</option>
      <option value="female">---------female---------</option>
      
    </select>
    
  </div>
    <div class="mb-3">
     <label for="smoking" class="col-sm-2 col-form-label">Do you smoke?</label>
    <select style="color:white" name="smoking" class="form-select" required aria-label="select example">
      
      <option value="yes">-----------yes-----------</option>
      <option value="no">-----------no-----------</option>
      
    </select>
    
  </div>
 <input type="submit" value="predict" class="btn btn-secondary" id="button">
  </strong>
</form>
</body>
</html>
</html>